<a href="https://colab.research.google.com/github/mhdarshid/Face-Recoganition/blob/master/test_corona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv('/content/drive/My Drive/Data/novel-corona-virus-2019-dataset/time_series_covid_19_recovered.csv') 
data = data.drop(columns=['3/11/20'])
data.head()

  Province/State  Country/Region      Lat  ...  3/8/20  3/9/20  3/10/20
0          Anhui  Mainland China  31.8257  ...     984     984      984
1        Beijing  Mainland China  40.1824  ...     308     315      320
2      Chongqing  Mainland China  30.0572  ...     527     542      547
3         Fujian  Mainland China  26.0789  ...     295     295      295
4          Gansu  Mainland China  36.0611  ...      87      88       88

[5 rows x 53 columns]

# Corona effected Places

In [63]:
place = np.array(data.iloc[1:,1])
place = np.unique(place)
print(place)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina' 'Brazil' 'Brunei'
 'Bulgaria' 'Burkina Faso' 'Cambodia' 'Cameroon' 'Canada'
 'Channel Islands' 'Chile' 'China' 'Colombia' 'Congo (Kinshasa)'
 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cruise Ship' 'Cyprus'
 'Czech Republic' 'Czechia' 'Denmark' 'Dominican Republic' 'Ecuador'
 'Egypt' 'Estonia' 'Faroe Islands' 'Finland' 'France' 'French Guiana'
 'Georgia' 'Germany' 'Gibraltar' 'Greece' 'Holy See' 'Honduras'
 'Hong Kong SAR' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran'
 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Korea, South' 'Kuwait' 'Latvia' 'Lebanon'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao SAR' 'Mainland China'
 'Malaysia' 'Maldives' 'Malta' 'Martinique' 'Mexico' 'Moldova' 'Monaco'
 'Mongolia' 'Morocco' 'Nepal' 'Netherlands' 'New Zealand' 'Nigeria'
 'North Macedonia' 'Norway' 'Oman' 'Others' 'Pakistan' 'Panama' 'Paraguay'
 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Republic of Korea'
 'Republic of Moldova' 'Reunion' 'Romania' 'Russia' 'Russian Federation'
 'Saint Barthelemy' 'Saint Martin' 'San Marino' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'Spain'
 'Sri Lanka' 'Sweden' 'Switzerland' 'Taipei and environs' 'Taiwan*'
 'Thailand' 'Togo' 'Tunisia' 'Turkey' 'UK' 'US' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'Viet Nam' 'Vietnam'
 'occupied Palestinian territory']

# Tottal effected

In [60]:

temp = []
for col in data.columns: 
    temp.append(col) 
print(temp)

['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20']

In [61]:
for i in range(0,4):
  temp.pop(0)
data['Total'] = 0
for col in temp:
  data['Total']=data['Total']+data[col]
data.head()

  Province/State  Country/Region      Lat  ...  3/9/20  3/10/20  Total
0          Anhui  Mainland China  31.8257  ...     984      984  18897
1        Beijing  Mainland China  40.1824  ...     315      320   6218
2      Chongqing  Mainland China  30.0572  ...     542      547  10584
3         Fujian  Mainland China  26.0789  ...     295      295   5499
4          Gansu  Mainland China  36.0611  ...      88       88   2150

[5 rows x 54 columns]